.text-hoverer {
    transition: .4s, background-position 0s;
    color: #ECE3CE;
}

.text-hoverer:hover {
    color: #ECE3CE;
    background: #0d192b;
}

@font-face {
    font-family: customCursiveMini;
    src: url("../../assests/fonts/Moon-Flower-Bold.woff");
}

.text-limiter {
    font-family: customCursiveMini;
    padding: 6;
    font-weight: 3;
    font-size: 2vw;
}