.foreground{
  align-items: center;
  display: flex;
  position:absolute;
  flex-flow: column;
  top: 0;
  left: 0;
}

#nightSky {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

@font-face {
  font-family: customCursive;
  src: url("./assests/fonts/HathemBosteem.woff");
}


@font-face {
  font-family: customCursiveMini;
  src: url("./assests/fonts/Moon-Flower-Bold.woff");
}