.App {
  text-align: center;
}

.custom-backgound {
  background-color: #4F6F52;
}

@font-face {
  font-family: customCursive;
  src: url("./assests/fonts/HathemBosteem.woff");
}


@font-face {
  font-family: customCursiveMini;
  src: url("./assests/fonts/Moon-Flower-Bold.woff");
}